:root {
  --uiHeight: 100px;
  --winHeight: 800px;
}

* {
  padding: 0;
  margin: 0;
}

/* ANCHOR elements */

body {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}

/* ANCHOR classes */
.canvas {
  background-color: black;
  width: 800px;
  height: var(--winHeight);
  display: flex;
  position: relative;
}
.ui {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
}

.ui-comp {
  width: 100%;
  height: var(--uiHeight);
  background-color: white;
}

.top-ui {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pet-status {
  width: 200px;
}

.gauge {
  margin: 4px 0 0 6px;
}

.notification {
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 380px;
  font-size: 24px;
  margin: 0 10px;
}

.pet-info {
  width: 200px;
}

.play-space {
  width: 100%;
  height: 600px;
  transform: translateY(var(--uiHeight));
  position: relative;
}
.bottom-ui{
  display: flex;
  flex-direction: row;
}

.actions {
  width: 750px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.action {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  border: rgba(0, 0, 0, 0.5) solid 5px;
}

.settings{
  width: 50px;
  height: 100px;
  padding: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}

.setting{
  border: black 2px solid;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  background-color: rgb(226, 223, 223);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  opacity: 0;
}
/* ANCHOR ids */
#pet {
  position: absolute;
}


#food {
  position: absolute;
}


#feedBtn {
  background-color: #c67626;
}

#sleepBtn {
  background-color: #4caf4f;
}

#playBtn {
  background-color: #683ab7;
}


#name {
  font-size: 30px;
  width: 196px;
}